@model RepositoryWithCaching.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blog.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blog.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CommentID }, new { @class="btn btn-success"})  
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-success"})
</p>
